This is Assignment 06 - Richard Nolan

Requirement 4

In [102]:
## List
list_1 = [0, 2, 4, 6, 9, 11, 13, 24, 35, 48, 56, 77, 88, 90, 91, 92, 93, 94, 95, 96]

##Length of list
print(len(list_1))

##Appendages to List
list_1.append(12)
list_1.append(34)
list_1.append(53)

##List Concatenation
list_1 + [47, 89, 37]

##List sorting
list_1.sort()

##Output
print(list_1)

20
[0, 2, 4, 6, 9, 11, 12, 13, 24, 34, 35, 48, 53, 56, 77, 88, 90, 91, 92, 93, 94, 95, 96]

Requirement 5

In [103]:
##Printing elements from the list
print(list_1[3])
print(list_1[14])
print(list_1[-3])
print(list_1[-7])

##Printing slices of the List
print(list_1[0:4])
print(list_1[-6:-1])

##Reversed list
print(list_1[::-1])

##Replacing elements
list_1[13]= -99

##Every other element printed
print(list_1[::2])

##Replacing many elements with -77
list_1[8:15] = [-77]

##Output
print(list_1)

6
77
94
90
[0, 2, 4, 6]
[91, 92, 93, 94, 95]
[96, 95, 94, 93, 92, 91, 90, 88, 77, 56, 53, 48, 35, 34, 24, 13, 12, 11, 9, 6, 4, 2, 0]
[0, 4, 9, 12, 24, 35, 53, 77, 90, 92, 94, 96]
[0, 2, 4, 6, 9, 11, 12, 13, -77, 88, 90, 91, 92, 93, 94, 95, 96]

Requirement 6

In [104]:
tuple_1 = (1, 3, 5, 7, 9, 11, 13)
## tuple_1[2] = -33
## tuple_1.append(-22)
## These commands returned errors, as tuples can't be modified in this way.
## I commented them out and printed the original tuple to show its immutable state.
print(tuple_1)

(1, 3, 5, 7, 9, 11, 13)

Requirement 7

In [105]:
##Dictionary

players_soccer = {'left winger':'Wynalda','right winger':'Dempsey','left midfielder':'McBride','right midfielder':'Donovan','center midfielder':'Howard','left back':'Reyna','right back':'Ramos','stopper':'Bradley','sweeper':'Pulsic'}

##Replacing a Value
players_soccer['left winger'] = 'Morris'

##Adding a new key::value
players_soccer['goalkeeper'] = 'Seaman'

##Output
print(players_soccer)

{'left winger': 'Morris', 'right winger': 'Dempsey', 'left midfielder': 'McBride', 'right midfielder': 'Donovan', 'center midfielder': 'Howard', 'left back': 'Reyna', 'right back': 'Ramos', 'stopper': 'Bradley', 'sweeper': 'Pulsic', 'goalkeeper': 'Seaman'}

Requirement 8

In [106]:
##Sets
hatfields = {'Doug', 'Mike', 'Rob', 'Tarly', 'Dave', 'Reba', 'Tom', 'Ty', 'Cheryl', 'Culum'}
mccoys = {'Don', 'Miku', 'Reb', 'Tarly', 'Darnell', 'Reba', 'Tom', 'Tyler', 'Cheryl', 'Culainn'}

##Union
print(hatfields.union(mccoys))

##Intersection
print(hatfields.intersection(mccoys))

##Difference
print(hatfields.difference(mccoys))

##Symmetric_difference
print(hatfields.symmetric_difference(mccoys))

{'Tarly', 'Culainn', 'Dave', 'Reba', 'Tyler', 'Reb', 'Cheryl', 'Don', 'Mike', 'Miku', 'Rob', 'Doug', 'Ty', 'Culum', 'Darnell', 'Tom'}
{'Tarly', 'Reba', 'Cheryl', 'Tom'}
{'Mike', 'Ty', 'Rob', 'Doug', 'Dave', 'Culum'}
{'Mike', 'Miku', 'Rob', 'Doug', 'Ty', 'Culainn', 'Culum', 'Tyler', 'Dave', 'Darnell', 'Don', 'Reb'}

Requirement 9

In [107]:
## Weather using if/elif/else
W = 'Snow'

##If
if W == 'Cloudy':
    print('The weather is cloudy')

## Two elif statements    
elif W =='Rain':
    print('The weather is rainy')
elif W =='Snow':
    print('The weather is snowy')
    
##Else statement
else: print('The weather is nice out!')

The weather is snowy

Requirement 10

In [108]:
##Print for loop in a range
for i in range(5, 13):
    print(i, end=' ')

##Print for loop with a list
for p in [5, 6, 7, 8]:
    print(p, end=' ')

5 6 7 8 9 10 11 12 5 6 7 8

Requirement 11

In [109]:
##While loop 0-7
i = 0
while i < 8:
    print(i, end=' ')
    i += 1

##While Loop 1-7
i = 1
while i < 8:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 1 2 3 4 5 6 7

Requirement 12

In [110]:
##Function Factorial
def factorial(num):
    for i in range(1,num):
        num = num * i
    return num

##Factorial test
factorial(5)

120

Requirement 13

In [111]:
##Function with *args and **kwargs
def vegetables(*args, **kwargs):
    print('Numbers= ', args)
    print('Names= ', kwargs)

##Vegetables test
vegetables(5, 6, 22, a='Potato', b='Eggplant')

Numbers=  (5, 6, 22)
Names=  {'a': 'Potato', 'b': 'Eggplant'}

Requirement 14

In [112]:
##Cars list with dictionaries
cars = [{'Make':'Ford', 'Model':'Ranger', 'Cost':'17000'},
        {'Make':'Honda', 'Model':'Civic', 'Cost':'15500'},
        {'Make':'Subaru', 'Model':'Outback', 'Cost':'22000'}]

##Sorting the list by Model
print(sorted(cars, key=lambda item: item['Model']))

##Sorting the list by Cost
print(sorted(cars, key=lambda item: item['Cost']))

[{'Make': 'Honda', 'Model': 'Civic', 'Cost': '15500'}, {'Make': 'Subaru', 'Model': 'Outback', 'Cost': '22000'}, {'Make': 'Ford', 'Model': 'Ranger', 'Cost': '17000'}]
[{'Make': 'Honda', 'Model': 'Civic', 'Cost': '15500'}, {'Make': 'Ford', 'Model': 'Ranger', 'Cost': '17000'}, {'Make': 'Subaru', 'Model': 'Outback', 'Cost': '22000'}]

Requirement 15

In [113]:
## Try/Except catches
try:
    x = 25000/0
    print(x)
except:
    print('Broken Calculator')

Broken Calculator

Requirement 16

In [114]:
##Variable
X = 'Turnip'

##Try Statement
try:
    if X == 'Turnip':
        print('A fine Turnip!')

##Except
except:
    if X == 'Potato':
        print("That's no Turnip!")
    
##Else
else:
    print('A white Veggie!')
    
##Finally
finally:
    print('An Irish Holiday!')

A fine Turnip!
A white Veggie!
An Irish Holiday!

Requirement 17

Iterator indirection is essentially a way to treat something as a list without having to create the full list. This saves on memory, and allows larger calculations to proceed with minimal fuss.

Requirement 18

In [115]:
##Animals list
animals_list = ['tiger', 'dog', 'cat', 'mouse', 'gerbil', 'chimp', 'sparrow', 'possum', 'wolverine', 'manatee']

##Index and Values of animals
for i in range(len(animals_list)):
    print(i, animals_list[i])

0 tiger
1 dog
2 cat
3 mouse
4 gerbil
5 chimp
6 sparrow
7 possum
8 wolverine
9 manatee

Requirement 19

In [116]:
##Animals List
animals_list = ['tiger', 'dog', 'cat', 'mouse', 'gerbil', 'chimp', 'sparrow', 'possum', 'wolverine', 'manatee']

##Enumerated index and values
for i, val in enumerate(animals_list):
    print(i, animals_list[i])

0 tiger
1 dog
2 cat
3 mouse
4 gerbil
5 chimp
6 sparrow
7 possum
8 wolverine
9 manatee

Requirement 20

In [117]:
##Colors list
colors_list = ['red', 'blue', 'white', 'orange', 'yellow', 'green', 'black', 'purple', 'violet', 'mauve']

##Zip interator
for lval, rval in zip(animals_list, colors_list):
    print(lval, rval)

tiger red
dog blue
cat white
mouse orange
gerbil yellow
chimp green
sparrow black
possum purple
wolverine violet
manatee mauve

Requirement 21

In [118]:
##Lambda and map
times_ten = lambda x: x * 10
for val in map(times_ten, range(10)):
    print(val, end=' ')

0 10 20 30 40 50 60 70 80 90

Requirement 22

In [119]:
##Lambda and filter
by_three = lambda x: x % 3 == 0
for val in filter(by_three, range(30)):
    print(val, end=' ')

0 3 6 9 12 15 18 21 24 27

Requirement 23

I found this assignment a little easier than assignment 5, just from being more at ease with the formatting and Jupyter notebook. However, I still have moments in the assignment that worry me over how to interepet some of the questions, especially with the weight of the all-or-nothing grading scale. In particular, Requirement 11 gave me pause over whether I should iterate i < 7 to print 0-6, or i < 8 to print 0-7, and which way was more faithful to the question.